*.pyc
Client/*
OpenBench/migrations/*

credentials
credentials.*
Config/credentials.*
db.sqlite3

Scripts/Engines/*
Scripts/Networks/*

Media/*

!Client/*.py
Client/cutechess-ob
!Client/cutechess-ob.exe
!Client/cutechess-ob.mac
!Client/cutechess-ob.linux

Media/PGNs/*
Media/Networks/*
Media/Events/*